apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-gateway
  namespace: cuba-iam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: envoy-gateway
  template:
    metadata:
      labels:
        app: envoy-gateway
    spec:
      containers:
      - name: envoy
        image: docker.io/cuba-erp/envoy-gateway:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 9901
          name: admin
---
apiVersion: v1
kind: Service
metadata:
  name: envoy-gateway
  namespace: cuba-iam
spec:
  type: NodePort
  selector:
    app: envoy-gateway
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    name: http
  - port: 9901
    targetPort: 9901
    nodePort: 30099
    name: admin
