apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init-dbs.sql: |
    CREATE DATABASE cuba_gl;
    CREATE DATABASE cuba_fi_ap;
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cuba-postgres
spec:
  serviceName: "cuba-postgres"
  replicas: 1
  selector:
    matchLabels:
      app: cuba-postgres
  template:
    metadata:
      labels:
        app: cuba-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
        - name: POSTGRES_DB
          value: cuba_iam
        volumeMounts:
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
          readOnly: true
      volumes:
      - name: init-scripts
        configMap:
          name: postgres-init-scripts
---
apiVersion: v1
kind: Service
metadata:
  name: cuba-postgres
spec:
  ports:
  - port: 5432
  selector:
    app: cuba-postgres
  clusterIP: None
